    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:wght@600&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

body {
    font-family: Exo 2 , sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* heading styles and logo */

h1, h2{
    font-family: Bebas Neue , sans-serif;
    letter-spacing: 2px;
    color: #f7f7f7;
}

#logo{
    float: left;
    font-size: 275%;
}

/* navigation */

#controls{
    font-size: 90%;
    letter-spacing: 4px;
    float: right;
    padding-right: 50px;
}

#controls, #logo {
    line-height: 75px;
}

#controls ul{
    margin-right: 30px;
    list-style-type: none;
}

#controls li {
    float: left;
    margin-right: 25px;
  }

#controls a{
    text-decoration: none;
    color: #ffffff;
}

#controls a:hover{
    border-bottom: 1px solid #ffffff;
}

.active{
    border-bottom: 1px solid #ffffff;
}

/* hero image */

#hero-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 900px;
    width: 100%;
    background: url("../images/hero-image-first.jpg") no-repeat center center;
    
    /* animation zoom effect on loading page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 160%;
    font-family: Bebas neue, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 200px;
    height: 100px;

    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 40px;

    background-color: rgba(255, 255, 255, 0.7);

    top: 140px;
    right: 150px;

    position: absolute;
}

#hero-image-second {
    height: 800px;
    width: 100%;
    background: url(../images/hero-image-second.jpg) no-repeat center center; 
}