@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(0, 0, 0);
}

body {
    font-family: Exo 2 , sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}